<nav>
        <div class="nav-wrapper blue">
          <div class="container">
            <a href="/" class="brand-logo" style="margin: 0%"><img src="../assets/images/icon.png" id="imglogo" alt="logo">
            </a>
            <div class="right">
              <img class="logo-social" src="../assets/images/facebook.png" alt="Facebook">
              <img class="logo-social"  src="../assets/images/insta.png" alt="Instagram">
              <img class="logo-social" src="../assets/images/twitter.png" alt="Twitter">
            </div>
          </div>
        </div>
        <nav>
         
      <app-menu></app-menu>
      <router-outlet></router-outlet>




