<div class="cabecera">
  <img src="../../../assets/images/fondo.jpg" id="fondobg" alt="Fondo">
</div>
<div id="titulo">
  <h2>Geek Club</h2>
  <h5>Estás listo para divertirte con lo <strong>nuevo</strong> que trae <strong>Geekdom</strong></h5>
  <a href="#" class="btn blue text-white">Regístrate</a>
</div>
<div class="contenido">
  <h3>¿Sabes qué es la Geek War?</h3>
  <p class="flow-text">Es la guerra más grande del universo Geek; y está cerca. Únete a la batalla.

    Se el mejor jugador de esta guerra que se aproxima. Con tu conocimiento del universo Geek, conquista los mundos y conviértete en el mejor. Avanza niveles en distintas categorías sobre preguntas</p>
</div>
<div class="astro">
  <img src="../../../assets/images/astro.gif" alt="Astronauta">
  <div class="super">
    <h3 class="text-white"Obtén premio maravillosos></h3>
    <p>Participa en nuestros centros espaciales y gana puntos que podrás canjear en los artículos que tú desees</p>
  </div>
</div>
<div class="footer blue-grey">
  <p>Copyright © 2019 Geek Club</p>
</div>